@layer base {
  :root {
    --bg: #0e0e0e;
    --fg: #ffffff;

    --btn-bg: #222;
    --btn-hover: #333;
    --btn-active: #111;

    --font: system-ui, -apple-system, sans-serif;
    --radius: 0.75rem;

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 3rem;
  }

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--font);
    background: var(--fg);
    color: var(--bg);
  }

  img, canvas {
    image-rendering: pixelated;
  }
}